.idea/vcs.xml
.idea/workspace.xml
venv/Include/Python-ast.h
venv/Include/Python.h
venv/Include/abstract.h
venv/Include/accu.h
venv/Include/asdl.h
venv/Include/ast.h
venv/Include/bitset.h
venv/Include/bltinmodule.h
venv/Include/boolobject.h
venv/Include/bytearrayobject.h
venv/Include/bytes_methods.h
venv/Include/bytesobject.h
venv/Include/cellobject.h
venv/Include/ceval.h
venv/Include/classobject.h
venv/Include/code.h
venv/Include/codecs.h
venv/Include/compile.h
venv/Include/complexobject.h
venv/Include/datetime.h
venv/Include/descrobject.h
venv/Include/dictobject.h
venv/Include/dtoa.h
venv/Include/dynamic_annotations.h
venv/Include/enumobject.h
venv/Include/errcode.h
venv/Include/eval.h
venv/Include/fileutils.h
venv/Include/floatobject.h
venv/Include/frameobject.h
venv/Include/funcobject.h
venv/Include/genobject.h
venv/Include/graminit.h
venv/Include/grammar.h
venv/Include/greenlet/
venv/Include/import.h
venv/Include/intrcheck.h
venv/Include/iterobject.h
venv/Include/listobject.h
venv/Include/longintrepr.h
venv/Include/longobject.h
venv/Include/marshal.h
venv/Include/memoryobject.h
venv/Include/metagrammar.h
venv/Include/methodobject.h
venv/Include/modsupport.h
venv/Include/moduleobject.h
venv/Include/namespaceobject.h
venv/Include/node.h
venv/Include/object.h
venv/Include/objimpl.h
venv/Include/odictobject.h
venv/Include/opcode.h
venv/Include/osdefs.h
venv/Include/osmodule.h
venv/Include/parsetok.h
venv/Include/patchlevel.h
venv/Include/pgen.h
venv/Include/pgenheaders.h
venv/Include/py_curses.h
venv/Include/pyarena.h
venv/Include/pyatomic.h
venv/Include/pycapsule.h
venv/Include/pyconfig.h
venv/Include/pyctype.h
venv/Include/pydebug.h
venv/Include/pydtrace.d
venv/Include/pydtrace.h
venv/Include/pyerrors.h
venv/Include/pyexpat.h
venv/Include/pyfpe.h
venv/Include/pygetopt.h
venv/Include/pyhash.h
venv/Include/pylifecycle.h
venv/Include/pymacconfig.h
venv/Include/pymacro.h
venv/Include/pymath.h
venv/Include/pymem.h
venv/Include/pyport.h
venv/Include/pystate.h
venv/Include/pystrcmp.h
venv/Include/pystrhex.h
venv/Include/pystrtod.h
venv/Include/pythonrun.h
venv/Include/pythread.h
venv/Include/pytime.h
venv/Include/rangeobject.h
venv/Include/setobject.h
venv/Include/sip.h
venv/Include/sliceobject.h
venv/Include/structmember.h
venv/Include/structseq.h
venv/Include/symtable.h
venv/Include/sysmodule.h
venv/Include/token.h
venv/Include/traceback.h
venv/Include/tupleobject.h
venv/Include/typeslots.h
venv/Include/ucnhash.h
venv/Include/unicodeobject.h
venv/Include/warnings.h
venv/Include/weakrefobject.h
venv/Lib/__pycache__/
venv/Lib/collections/__pycache__/
venv/Lib/encodings/__pycache__/
venv/Lib/importlib/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/beautifulsoup4-4.6.0.dist-info/
venv/Lib/site-packages/bs4/
venv/Lib/site-packages/certifi-2018.1.18.dist-info/
venv/Lib/site-packages/certifi/
venv/Lib/site-packages/chardet-3.0.4.dist-info/
venv/Lib/site-packages/chardet/
venv/Lib/site-packages/idna-2.6.dist-info/
venv/Lib/site-packages/idna/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pip/commands/__pycache__/
venv/Lib/site-packages/pip/compat/__pycache__/
venv/Lib/site-packages/pip/models/__pycache__/
venv/Lib/site-packages/pip/operations/__pycache__/
venv/Lib/site-packages/pip/req/__pycache__/
venv/Lib/site-packages/pip/utils/__pycache__/
venv/Lib/site-packages/pip/vcs/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/requests-2.18.4.dist-info/
venv/Lib/site-packages/requests/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/urllib3-1.22.dist-info/
venv/Lib/site-packages/urllib3/
venv/Lib/site-packages/wheel/__pycache__/
venv/Lib/site-packages/wheel/signatures/__pycache__/
venv/Lib/site-packages/wheel/tool/__pycache__/
venv/Scripts/
